*auth.json
**/production-results/*
*.DS_Store
*.dcf
*.Rdata
*.rdb
*.rdx
*.Rhistory
*.httr-oauth
*xtmem.tex
*.Rhistory

resources/goldberg_blowfish.pdf

paper/xtmem_files/figure-latex/*
paper/xtmem_cache/latex/__packages

# LaTeX #
*.bet
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
.Rproj.user
